.footer-nav {
    text-decoration: none !important;
    color:white !important;
    display: block;
    padding: .5rem 1rem;

}

.footer-links:hover {
    text-decoration:underline !important;
}

.footer-links {
    text-decoration: none !important;
    color:white !important;
}
