.nav-link {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}

.active,
.nav-link:hover,
.nav-link:focus {
  text-decoration-color: black;
  text-decoration: underline;
}

.box {
  background-color: black;
  color: white;
}

.box:hover {
  color: white !important;
}
