.nav-link {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}

.active,
.nav-link:hover,
.nav-link:focus {
  color:black !important;
  text-decoration-color: black !important;
  text-decoration: underline !important;
}

.box {
  background-color: black !important;
  color: white !important;
}

.box:focus,
.box:hover {
  color:white !important;
  text-decoration-color: White !important;
  text-decoration: underline !important;
}
